.feedback-container { padding-top: 50px; }

.feedback-form {
  width: 60px;
  margin: 0 auto;
  width: 460px;
}

.feedback-form li { margin-top: 20px; }

.feedback-form label {
  float: left;
  display: block;
  font-family: "pt_sansbold";
  font-size: 1em;
  line-height: 41px;
  color: #909498;
  width: 100px;
  padding-right: 20px;
  text-align: left;
  text-transform: uppercase;
}

.feedback-form input, .feedback-form textarea {
  width: 360px;
  float: right;
  border: 1px solid #e4e7ea;
}

.feedback-form textarea {
  height: 170px;
  padding: 10px 5px 10px 23px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.feedback-form input:focus,
.feedback-form input:hover,
.feedback-form textarea:focus,
.feedback-form textarea:hover { border-color: #b2b4b7; }

.feedback-form .send-form {
  float: right;
  width: 360px;
}
